/*================================== Media Queries ============================*/
$bp-smallest: 24em; // for 375px
$bp-small: 37.5em; // for 600px
$bp-medium: 56.25em; // for 900px
$bp-large: 75em; // for 1200px
$bp-largest: 112.5em; // for 1800px

/*================================== Fonts =====================================*/
$font-primary: 'Poppins', sans-serif;

/*================================== Colors =====================================*/

$color-white: #fff;
$color-black: #000;
$color-body-dark: #000000;
$color-body-light: #1b181a;
$color-primary: #FCB858;
$color-secondary: #F9FBFA;
$color-text: #C1C1C1;
$color-light: #f9fafb;
$color-heading: #384B42;



/*================================== Center Our Content ===========================*/

.row{
    max-width: 114rem;
    margin: 0 auto;
    @media only screen and (max-width: $bp-large){
        max-width: 100rem;
        margin: 0 auto;
    }
    @media only screen and (max-width: $bp-medium){
        max-width: 80rem;
        margin: 0 auto;
    }
    @media only screen and (max-width: $bp-small){
        max-width: 55rem;
        margin: 0 auto;
    }
    @media only screen and (max-width: $bp-smallest){
        max-width: 50rem;
        margin: 0 auto;
    }
}
/*================================== Basic Styling =====================================*/

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $color-text;
}
img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5{
    color: $color-light;
}

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
    @media only screen and (max-width: $bp-large){
        font-size: 56.25%; //9rem
    }
    @media only screen and (max-width: $bp-medium){
        font-size: 50%; //8rem
    }
    @media only screen and (max-width: $bp-small){
        font-size: 43.75%;//7rem
    }
    @media only screen and (max-width: $bp-smallest){
        font-size: 37.5%; //6rem
    }
    
}
body{
    font-family: $font-primary;
    font-weight: 400;
    color: $color-text;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, $color-body-dark, $color-body-light);
    overflow-x: hidden;
}

/*================================== Header Starts Here =====================================*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: linear-gradient(to right bottom, $color-body-light, $color-body-dark);
/*================ We want header to be sticky ================*/
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
    z-index: 9999;
}
/*================ Logo ================*/
.logo{
    font-size: 2.2rem;
    @media only screen and (max-width: $bp-small){
        font-size: 3rem;
    }
}
/*================ Navigation Starts ================*/
.main-nav{
    @media only screen and (max-width: $bp-medium){
        background-color: rgba($color-black, 0.7);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
        opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;

    /* 3) Hide it from screen readers */
        visibility: hidden;
    }
    
    &__list{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 3.2rem;
        @media only screen and (max-width: $bp-medium){
            flex-direction: column;
            gap: 4.8rem;
        }
    }
    &__link:link,
    &__link:visited{
        display: inline-block;
        text-decoration: none;
        color: $color-light;
        font-weight: 500;
        font-size: 1.8rem;
        transition: all .3s;
        @media only screen and (max-width: $bp-medium){
            font-size: 3rem;
        }
    }
    &__link:hover,
    &__link:active{
        color: purple;
        
    }
}
.nav-open .main-nav{
    @media only screen and (max-width: $bp-medium){
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
}
.nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
}

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
}
.nav--cta:link,
.nav--cta:visited{
    padding: 1.2rem 2.4rem;
    border-radius: .9rem;
    background-color: $color-primary;
    color: $color-light;
    transition: all .3s;
}
.nav--cta:hover,
.nav--cta:active{
    color: $color-primary;
    background-color: $color-secondary;
}
.btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;

    display: none;
    @media only screen and (max-width: $bp-medium){
        display: block;
        z-index: 9999;
    }
}
.icon-mobile-nav{
    height: 4.8rem;
    width: 4.8rem;
    color: $color-light;
}   
.icon-mobile-nav[name="close-outline"] {
    display: none;
}
/* STICKY NAVIGATION */
.sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba($color-primary, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .hero {
    margin-top: 9.6rem;
}
/*================ Navigation Ends ================*/

/*================ Icons Starts ================*/
.icon{
    &__menu{
        display: none;
        font-size: 2rem;
        @media only screen and (max-width: $bp-medium){
            font-size: 3rem;
        }
        @media only screen and (max-width: $bp-medium){
            display: block;
        }
    }
    &__star{
        color: yellowgreen;
        font-size: 1.4rem;
        &--rate{
            font-size: 1.2rem;
        }
    }
    &__social{
        font-size: 3rem;
        color: $color-primary;
        cursor: pointer;
    }
}
/*================ Icons Ends ================*/

/*================ Button Starts ================*/
.btn{
    display: inline-block;
    padding: .8rem 1.5rem;
    @media only screen and (max-width: $bp-small){
        padding: 2rem 4rem;
        
    }
    &__primary{
        background-color: $color-primary;
        color: $color-light;
        border: 1px solid $color-primary;
        font-size: 1.5rem;
        @media only screen and (max-width: $bp-small){
            font-size: 2.2rem;
            
        }
        
        &:hover{
            color: $color-primary;
            background-color: $color-light;
            border: 1px solid $color-primary;
            transition: all .5s;
        }
    }
    &__light{
        color: $color-secondary;
        border: 1px solid $color-secondary;
        font-size: 1.5rem;
        margin-right: 1rem;
        &--top{
            text-align: right;
            transform: translateY(-15rem);
        }
        &:hover{
            color: $color-light;
            background-color: $color-secondary;
            border: 1px solid $color-secondary;
            transition: all .5s;
        }
    }
}
/*================ Button Ends ================*/

/*================ Headings start ================*/
.heading-primary{
    font-size: 9.5rem;
    line-height: 1.2;
    font-weight: 400;
    @media only screen and (max-width: $bp-small){
        font-size: 7.5rem;
    }
    &__span{
        color: $color-primary;
    }
}
.heading-secondary{
    font-size: 5.5rem;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    transform: translateX(-3rem);
    color: $color-primary;
    @media only screen and (max-width: $bp-small){
        margin-bottom: 10rem;
    }
    @media only screen and (max-width:$bp-medium){
        margin-bottom: 10rem;
    }
}
.heading-tertiary{
    font-size: 5rem;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8rem;
}
/*================ Headings Ends ================*/

/*================================== Header Ends Here =====================================*/

/*================================== Section Hero Starts Here =====================================*/
.hero{
    position: relative;
    height: 85vh;
    &__photo{
        position: absolute;
        &--1{
            width: 60rem;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media only screen and (max-width: $bp-small){
                top:80%;
            }
        }
        &--2{
            width: 60rem;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__textbox{
        position: absolute;
        top: 35%;
        left: 25%;
        transform: translate(-50%, -50%);
    }
}
/*================================== Section Hero Ends Here =====================================*/

/*================================== Section Count Starts Here =====================================*/
.count{
    padding: 2rem 0 10rem 0;
    &__para{
        padding: 0 5vw;
        font-size: 1.6rem;
        text-align: center;
        margin: 10rem 0;
        @media only screen and (max-width: $bp-small){
            font-size: 2.2rem;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        @media only screen and (max-width:$bp-medium){
            grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        }
        grid-gap: 2rem;
        text-align: center;
        &--item{

        }
    }
    &__number{
        font-size: 6rem;
        color: $color-secondary;
    }
    &__text{
        font-size: 2.5rem;
        color: $color-primary;
        
    }
}
/*================================== Section Count Ends Here =====================================*/

/*================================== Section about starts Here =====================================*/
.about{
    padding: 10rem 0;
    &__flex{
        display: flex;
        align-items: center;
        @media only screen and (max-width: $bp-small){
            flex-direction: column;
            row-gap: 10rem;
        }
    }
    &__photo{
        flex: 0 0 30%;
        transform: translateY(-5rem);
    }
    &__img{

    }
    &__para{
        flex: 1;
        font-size: 1.6rem;
        padding: 0 5vw;
        margin-top: -8rem;
        @media only screen and (max-width: $bp-small){
            font-size: 2.2rem;
        }
    }
}
/*================================== Section about ends Here =====================================*/

/*================================== Section explore-1 starts Here =====================================*/
.explore-1{
    padding: 0 0 10rem 0;
    &__flex{
        display: flex;
        align-items: center;
        @media only screen and (max-width: $bp-small){
            flex-direction: column;
            row-gap: 10rem;
        }
    }
    &__photo{
        flex: 0 0 30%;
        width: 30%;
        @media only screen and (max-width: $bp-small){
            order: 0;
            width: 80%;
        }
    }
    &__img{
        width: 100%;
    }
    &__text{
        flex: 1;
        @media only screen and (max-width: $bp-small){
            order: 1;
            
        }
    }
    &__para{
        font-size: 1.6rem;
        padding: 0 5vw;
        @media only screen and (max-width: $bp-small){
            font-size: 2.2rem;
            
        }
    }
    &__btn{
        transform: translateX(8rem);
        margin-top: 4rem;
        @media only screen and (max-width: $bp-small){
            transform: translateX(4rem);;
        }
    }
}
/*================================== Section explore-1 ends Here =====================================*/


/*================================== Section explore-2 starts Here =====================================*/
.explore-2{
    padding: 10rem 0;
    &__flex{
        display: flex;
        align-items: center;
        @media only screen and (max-width: $bp-small){
            flex-direction: column;
            row-gap: 10rem;
        }
    }
    &__photo{
        flex: 0 0 30%;
    }
    &__img{
        max-width: 150%;
        
    }
    &__text{
        flex: 1;
    }
    &__para{
        font-size: 1.6rem;
        padding: 0 5vw;
        @media only screen and (max-width: $bp-small){
            font-size: 2.2rem;
            
        }
    }
    &__btn{
        transform: translateX(8rem);
        margin-top: 4rem;
        @media only screen and (max-width: $bp-small){
            transform: translateX(4rem);;
            
        }
    }
}
/*================================== Section explore-2 ends Here =====================================*/


/*================================== Section explore-3 starts Here =====================================*/
.explore-3{
    padding: 10rem 0;
    &__flex{
        display: flex;
        align-items: center;
        @media only screen and (max-width: $bp-small){
            flex-direction: column;
            row-gap: 10rem;
        }
    }
    &__photo{
        flex: 0 0 30%;
    }
    &__img{
        
    }
    &__text{
        flex: 1;
        @media only screen and (max-width: $bp-small){
            order: 1;
        }
    }
    &__para{
        font-size: 1.6rem;
        padding: 0 5vw;
        @media only screen and (max-width: $bp-small){
            font-size: 2.2rem;
            
        }
    }
    &__btn{
        transform: translateX(8rem);
        margin-top: 4rem;
        @media only screen and (max-width: $bp-small){
            transform: translateX(4rem);;
            
        }
    }
}
/*================================== Section explore-3 ends Here =====================================*/

/*================================== Section Testimonials starts Here =====================================*/
.testimonials{
    padding: 10rem 0;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        padding: 0 10vw;
        background-color: rgb(26, 26, 26);
        padding: 10vh 10vw;
        border-radius: 1rem;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.7);
        &--photo{
            
        }
        &--img{
            border-radius: 50%;
        }
        &--text{
            font-size: 1.6rem;
            text-align: center;
            @media only screen and (max-width: $bp-small){
                font-size: 2.2rem;
            }
        }
        &--name{
            font-size: 1.8rem;
            text-transform: uppercase;
            color: $color-primary;
        }
    }
    .owl-theme{
        position: relative;
    }
    .owl-theme .owl-nav {
        // margin-top: -10rem;
        font-size: 5rem;
        color: $color-primary;
        position: absolute;
        top: 80%;
        left: 50%;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 5rem;
        height: 1rem;
        margin: 5px 7px;
        background: #D6D6D6;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        border-radius: 30px;
        background-color: $color-primary;
        
    }
    .owl-theme .owl-dots{
        position: absolute;
        top: 95%;
        left: 43%;
    }
}
/*================================== Section Testimonials ends Here =====================================*/

/*================================== FOoter starts here =====================================*/
.footer{
    padding: 10rem 0;
    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 9rem;
        @media only screen and (max-width: $bp-small){
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        }
        &--content{
            &-1{
                & *:not(:last-child){
                    margin-bottom: 4rem;
                }
            }
            &-list{
                & *:not(:last-child){
                    margin-bottom: 1.2rem;
                }
            }
            &-item{
    
            }
            &-link{
                font-size: 1.4rem;
                transition: all .2s;
                @media only screen and (max-width: $bp-small){
                    font-size: 2.6rem;
                }
                &:hover{
                    color: $color-primary;
                }
                &-heading{
                    font-size: 1.6rem;
                    color: $color-secondary;
                    @media only screen and (max-width: $bp-small){
                        font-size: 4rem;
                    }
                }
            }
            &-msg{
                display: flex;
                align-items: center;
                column-gap: 2rem;
                font-size: 1.6rem;
            }
            &-contact{
                display: flex;
                align-items: center;
                column-gap: 2rem;
                font-size: 1.6rem;
            }
            &-location{
                display: flex;
                align-items: center;
                column-gap: 2rem;
                font-size: 1.2rem;
            }
        }
        
    }
    &__logo{
        font-size: 4rem;
        
        &--span{
            color: $color-primary;
        }
    }
    &__text{
        font-size: 1.6rem;
        @media only screen and (max-width: $bp-small){
            font-size: 4rem;
        }
    }
    &__social{
        &--flex{
            display: flex;
            justify-content: space-between;
            &-icon{
                font-size: 2.6rem;
                @media only screen and (max-width: $bp-small){
                    font-size: 4rem;
                }
                cursor: pointer;
                transition: all .2s;
                
                &:hover{
                    color: $color-primary;
                    transform: scale(2);
                }
            }
        }
    }
}